<% @applicants.each do |applicant| %>
  <p>Name: <%= applicant.name %></p>
  <p>Email: <%= applicant.email %></p>
  <p>Website: <%= applicant.website %></p>
  <p>Cover Letter: <%= applicant.cover_letter %></p>
<% end %>
