/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap-custom";

// td.skills {
//   display: inline-block;
// }

$blk-border: 1px solid black;

// .cover_letters.li {
//   min-height: 80px;
// }

li {
  list-style: none;
}

ul,
.col-sm-1,
.col-sm-2,
.col-sm-4 {
  padding: 0;
  margin: 0;
}

.col-sm-1,
.col-sm-2,
.col-sm-4,
.Designer {
  border-top: $blk-border;
}

h4,
li._1,
ul._1,
.Russ,
li._4,
ul._4,
.Katarina,
li._3,
ul._3,
.Miss,
li._2,
ul._2,
.Dakota {
  border-bottom: $blk-border;
}

.job_list,
.applicants,
.emails,
.websites,
.skills,
.c_l {
  border-right: $blk-border;
}

.job_list {
  border-left: $blk-border;
}
